*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "DM Sans", Sans-serif;

}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1575px;
  }
}

a{
  text-decoration: none;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  fill: #005D6E;
  color: #005D6E;
  background-color: #1A1A1A00;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #E0E0E0;
  padding: 0px 0px 10px 0px;
  transition: 0.3s all ease-in-out;
  width: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &:hover{
    color: #005D6E;
    border-color: #E76817;
  }
  svg{
    font-weight: bold;
  }
}

.video-control::-webkit-media-controls {
  display: none !important;
}

/* start Of Home  */
.home{
  height: 600px;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000081;
    width: 100%;
    height: 100%;
  }
  .info{
    z-index: 5;
    top: 50%;
    /* padding: 0 70px; */
    transform: translateY(-50%);
    h1 , p{
      color: #fff;
    }
    h1{
      font-size: 70px;
      font-weight: 700;
      font-family: "DM Sans", Sans-serif;
      margin-bottom: 30px;
    }
    p{
      font-size: 24.8px;
    }
  }
}
/* End Of Home  */
/* start Of About-us  */
.about-us{
  padding: 80px 0;
  .info{
    padding: 60px 0;
    h5{
      color: #005D6E;
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p{
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 25px;
    }
  }
  .image{
    width: 763.5px;
    height: 400px;
  }
}
/* end Of About  */
/* Start Video */
.video{
  padding: 80px 0;
  height: 616.65px;
  overflow: hidden;
}
/* End Video */
/* Start Of Services */
.services{
  padding: 80px 0;
  .heading{
    h1{
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 25px;
      color: #005D6E;
    }
  }
  p{
    font-size: 20px;
    max-width: 1400px;
    margin: auto;
    text-align: left;
    line-height: 1.9;
    font-weight: 500;
    margin-bottom: 25px;
  }
  a{
    &:hover{
      color: #CCDFE2;
    }
  }
}
/* End Of Services */