*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "DM Sans", Sans-serif;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background-color: #005D6E;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1400px;
  }
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
p{
  color:#1A1A1A;
}
a{
  text-decoration: none;
}
.Btn{
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  fill: #005D6E;
  color: #005D6E;
  background-color: #1A1A1A00;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #E0E0E0;
  padding: 0px 0px 10px 0px;
  transition: 0.3s all ease-in-out;
  width: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &:hover{
    color: #005D6E;
    border-color: #E76817;
  }
  svg{
    font-weight: bold;
  }
}

.video-control::-webkit-media-controls {
  display: none !important;
}

.heading{
  h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #005D6E;
  }
}

@media (max-width:767px) {
  .heading{
    h1{
      font-size: 40px;
    }
  }
}



.navbar{
  background-color: #F3F3F3;
  height: 154px;
  transition: 0.5s all ease-in-out;
  &.fixed{
    position: fixed; 
    z-index: 50; 
    width: 100%;
    left: 0;
  }
  .nav-link{
    color: #005D6E;
    font-size: 17px;
    font-weight: 600;
  }
  .dropdown-item{    
    &.active{
      background-color: #f3f3f3c0;
      color: #000;
    }
  }
  #navbarSupportedContent {
    flex: 0 0 63% !important;
    ul{
      gap: 0px;
    }
  }
  .dropdown-menu{
    background-color: #005D6E;
    border: none;
    li{
      a{
        margin-bottom: 10px;
        color: #fff;
        &:hover{
          background-color: #f3f3f3c0;
          color: #000;
        }
      }
    }
  }
  
  .navbar-toggler {
    border: none;
    background: none;
    padding: 0;
    position: relative;
    right: 5px;
    width: 60px;
    height: 50px;
    background: #005D6E;
    display: flex;
    align-items: center;
    padding-right: 0px;
    display: none;
  }

  .navbar-toggler-icon {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: inline-block;
    transition: all 0.3s ease;
    right: 0px;
  }

  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
    right: 0px;
  }

  .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler-icon::after {
    top: 8px;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon {
    background-color: transparent;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon::before {
    transform: rotate(45deg); 
    top: 0;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon::after {
    transform: rotate(-45deg);
    top: 0; 
  }

  .navbar-collapse {
    transition: max-height 0.3s ease-in-out;
  }

  .navbar-collapse.collapsing {
    max-height: 0;
  }

  .dropdown{
    display: flex;
    &:hover{
      .dropdown-menu{
        display: block;
        position: absolute;
        top: 100%;
      }
    }
    .dropdown-toggle{
      margin-left: -10px;
    }
  }

  .language-select {
    position: relative;
    width: 150px;
    margin-bottom: 20px;
    order: 1;
    top: 10px;
  }
  .Dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  .Dropdown img {
    width: 20px;
    height: 15px;
    margin-right: 10px;
  }
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: none;
    z-index: 1000;
  }
  .option {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
  }
  .option img {
    width: 20px;
    height: 15px;
    margin-right: 10px;
  }
  .option:hover {
    background-color: #f0f0f0;
  }

  .Dropdown:hover + .options,
.options:hover {
  display: block;
}
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}
.navbar {
  .navbar-collapse.show {
    max-height: 350px !important;
    overflow: auto;
    background-color: #005D6E;
    .nav-link{
      color: #fff;
      padding-left: 15px;
    }
  }
}

@media (max-width:767px) {
  .navbar{
    height: auto;
    .nav-link{
      &.active{
        background-color: #CCDFE2;
        color: #000;
      }
    }
    .container{
      padding: 0 !important;
    }
    .navbar-toggler{
      display: block;
    }
    #navbarSupportedContent {
      flex: 0 0 100% !important;       
    }
  }
  .navbar-brand{
    img{
      padding-left: 10px;
      width: 100px;
    }
  }
  .dropdown{
    flex-wrap: wrap !important;
    &:hover{
      .dropdown-menu{
        position: relative !important;
        top: auto !important;
      }
    }
    .dropdown-toggle{
      margin-left: -10px;
    }
    .dropdown-menu{
      width: 100% !important;
    }
  }
  .language-select{
    padding-right: 10px;
    width: 110px !important;
    order: unset !important;
  }
}


@media (max-width:991px) {
  .navbar{
    height: auto;
    .nav-link{
      &.active{
        background-color: #CCDFE2;
        color: #000;
      }
    }
    .container{
      padding: 0 !important;
    }
    .navbar-toggler{
      display: block;
    }
    #navbarSupportedContent {
      flex: 0 0 100% !important;       
    }
  }
  .navbar-brand{
    img{
      padding-left: 10px;
      width: 100px;
    }
  }
  .dropdown{
    flex-wrap: wrap !important;
    &:hover{
      .dropdown-menu{
        position: relative !important;
        top: auto !important;
      }
    }
    .dropdown-toggle{
      margin-left: -10px;
    }
    .dropdown-menu{
      width: 100% !important;
    }
  }
  .language-select{
    padding-right: 10px;
    width: 110px !important;
    order: unset !important;
  }
}


/* start Of Home  */
.home{
  height: 600px;
  z-index: -1;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000081;
    width: 100%;
    height: 100%;
  }
  .info{
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
    left: 50%;
    h1 , p{
      color: #fff;
    }
    h1{
      font-size: 70px;
      font-weight: 700;
      font-family: "DM Sans", Sans-serif;
      margin-bottom: 30px;
    }
    p{
      font-size: 24.8px;
    }
  }
}
@media (max-width:767px) {
  .home{
    video{
      height: 100%;
      object-fit: cover;
    }
    .info{
      left: 0;
      z-index: 5;
      top: 50%;
      padding: 0px;
      transform: translateY(-50%);
      h1 , p{
        color: #fff;
      }
      h1{
        font-size: 35px;
        text-align: center;
      }
      p{
        font-size: 23.8px;
        text-align: left;
        padding: 0 15px
      }
    }
  }
}

@media (max-width:991px) {
  .home{
    video{
      height: 100%;
      object-fit: cover;
    }
    .info{
      z-index: 5;
      left: 0;
      top: 50%;
      padding: 0px;
      transform: translateY(-50%);
      h1 , p{
        color: #fff;
      }
      h1{
        font-size: 35px;
        text-align: center;
      }
      p{
        font-size: 23.8px;
        text-align: left;
        padding: 0 15px
      }
    }
  }
}
/* End Of Home  */
/* start Of About-us  */
.about-us{
  padding: 80px 0;
  overflow: hidden;
  .info{
    padding: 60px 0;
    h5{
      color: #005D6E;
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p{
      font-size: 24px;
      text-align: justify;
      font-weight: 500;
      margin-bottom: 25px;
    }
  }
  .image{
    height: 400px;
  }
}
@media (max-width:767px) {
  .about-us{
    padding: 0 0 80px 0;
    .image{
      height: 350px;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
    .info{
      p{
        text-align: left;
      }
    }
  }
}
/* end Of About  */
/* Start Video */
.Video{
  padding: 80px 0;
  height: 616.65px;
  overflow: hidden;
  video{
    width: 66%;
  }
}
@media (max-width:767px) {
  .Video{
    height: 167px !important;
    video{
      width: 85%;
    }
  }
}
@media (max-width:991px) {
  .Video{
    height: 400px;
    padding: 0;
    video{
      width: 85%;
    }
  }
}
/* End Video */
/* Start Of Services */
.services{
  padding: 80px 0;
  p{
    font-size: 20.7px;
    max-width: 1340px;
    width: 100%;
    text-align: justify;
    margin: auto;
    line-height: 1.9;
    font-weight: 500;
    margin-bottom: 25px;
  }
  a{
    &:hover{
      color: #CCDFE2;
    }
  }
}
@media (max-width:767px) {
  .services{
    p{
      font-size: 20px;
      text-align: left;
    }
  }
}
/* End Of Services */
/* start Of who-are-we  */
.who-are-we{
  padding: 80px 0 40px 0px;
  overflow: hidden;
  .info{
    padding: 10px 0;
    h5{
      color: #005D6E;
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p{
      font-size: 21.7px;
      font-weight: 500;
      margin-bottom: 25px;
      text-align: justify;
    }
  }
  .image{
    height: 867.4px;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
}

@media (max-width:767px) {
  .who-are-we{
    padding: 0;
    .info{
      h5{
        font-size: 40px;
      }
      p{
        font-size: 20px;
        text-align: left;
      }
    }
    .image{
      height: 200px !important;
      margin-bottom: 10px;
      img{
        height: 100%;
      }
    }
  }
}
@media (max-width:991px) {
  .who-are-we{
    .image{
      height: 400px;
      margin-bottom: 10px;
      img{
        height: 100%;
      }
    }
  }
}
/* end Of who-are-we  */
/* strat of vision-lab  */
.vision-lab{
  overflow: hidden;
  height: 524.8px;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000081;
    width: 100%;
    height: 100%;
  }
  .row{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: end;
    align-items: center;
    .info{
      padding: 50px;
      color: #fff;
      h2{
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      p{
        line-height: 1.5;
        text-align: justify;
        font-size: 18.8px;
        color: #fff;
      }
    }
    .image{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (max-width:767px) {
  .vision-lab{
    display:none;
  }
}
/* end of vision-lab  */
/* start of vision-tab  */
.vision-tab{
  display: none;
}

@media (min-width:768px) and (max-width:1025px) {
  .vision-mobile , .vision-lab{
    display: none !important;
  }
  .vision-tab{
    display:block !important;
    height: 674.74px;
    .bg-img{
      object-fit: cover;
    }
    .d-flex{
      padding: 50px 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      align-items: center;
      .info{
        padding: 0px 20px 0;
        margin-bottom: 30px;
        h2{
          color: #fff;
          font-size: 40px;
          font-weight: 400;
          margin-bottom: 20px;
        }
        p{
          color: #fff;
          line-height: 1.5;
          font-size: 16.1px;
        }
      }
    }
  }
}
/* end of vision-tab  */
/* start of vision-mobile  */
.vision-mobile , .vision-tab{
  display: none;
}
@media (max-width:767px) {
  .vision-mobile{
    display:block;
    .d-flex{
      background-color: #000;
      padding: 50px 0;
      .info{
        padding: 0px 20px 0;
        margin-bottom: 30px;
        h2{
          color: #fff;
          font-size: 40px;
          text-align: center;
          font-weight: 400;
          margin-bottom: 20px;
        }
        p{
          line-height: 1.5;
          color: #fff;
          font-size: 16.1px;
        }
      }
    }
  }
}
/* end of vision-mobile  */

/* start of strategy */
.strategy{
  padding: 80px 0;
  .image{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      opacity: 0.5;
    }
  }
  .heading{
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .info{
    top: 32%;
    padding-right: 22px;
    p{
      font-size: 28px;
      line-height: 1.5;
      font-weight: 500;
    }
    .list{
      li{
        position: relative;
        font-size: 20px;
        color: #1A1A1A;
        margin-bottom: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
        &::before{
          content: '';
          position: absolute;
          height: 12px;
          width: 12px;
          left: 0;
          background-color: #000;
          border-radius: 50%;
        }
      }
    }
  }
}
@media (max-width:767px) {
  .strategy{
    padding: 150px 0 80px 0 !important;
    .image{
      overflow: hidden;
      img{
        opacity: 0.3;
        position: relative;
        top: 10px;
        width: 130% !important;
      }
    }
    .heading{
      max-width: 315px;
      width: 100%;
      top: 10%;
      h1{
        font-size: 30px;
      }
    }
    .info{
      top: 13%;
      padding-right: 0;
      p{
        font-size: 18px;
      }
      .list{
        li{
          position: relative;
          font-size: 20px;
          color: #1A1A1A;
          margin-bottom: 10px;
          display: flex;
          justify-content: start;
          align-items: center;
          padding-left: 20px;
          &::before{
            content: '';
            position: absolute;
            height: 12px;
            width: 12px;
            left: 0;
            background-color: #000;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
@media (max-width:991px) {
  .strategy{
    .image{
      overflow: hidden;
      img{
        opacity: 0.3;
        width: 75%;
      }
    }
    .heading{
      top: 21%;
      h1{
        font-size: 30px;
      }
    }
    .info{
      top: 25%;
      padding-right: 0;
      p{
        font-size: 18px;
      }
      .list{
        li{
          position: relative;
          font-size: 20px;
          color: #1A1A1A;
          margin-bottom: 10px;
          display: flex;
          justify-content: start;
          align-items: center;
          padding-left: 20px;
          &::before{
            content: '';
            position: absolute;
            height: 12px;
            width: 12px;
            left: 0;
            background-color: #000;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
/* end of strategy */
.our-message{
  .video{
    height: 480px;
    overflow: hidden;
  }
  .message{
    max-width: 650px;
    width: 100%;
    background-color: #005D6E;
    opacity: 0.85;
    top: 57%;
    transform: translateY(-50%);
    left: 6%;
    padding: 60px;
    color: #FFFFFF;
    font-family: "DM Sans", Sans-serif;
    h1{
      font-size: 50px;
      font-weight: 700;
    }
    p{
      font-size: 20px;
      line-height: 1.9;
      color: #fff;
    }
  }
}
@media (max-width:767px) {
  .our-message{
    margin-top: 200px !important;
    .video{
      height: 423px !important;
      padding: 0;
      video{
        height: 100%;
        object-fit: cover;
      }
    }
    .message{
      width: 100%;
      padding: 20px !important;
      left: 0;
      height: 100%;
      top: 50%;
      h1{
        font-size: 30px;
      }
      p{
        font-size: 17px !important;
        line-height: 1.9;
        color: #fff;
      }
    }
  }
}
@media (max-width:991px) {
  .our-message{
    margin-top: 80px;
    .video{
      height: 570px;
      padding: 0;
      video{
        height: 100%;
        object-fit: cover;
      }
    }
    .message{
      width: 100%;
      padding: 30px;
      left: 50%;
      /* height: 100%; */
      top: 50%;
      transform: translate(-50%,-50%);
      h1{
        font-size: 50px;
      }
      p{
        font-size: 23px;
        line-height: 1.9;
        color: #fff;
      }
    }
  }
}
/* start of our-client  */
.our-clients{
  padding: 150px 0 80px;
  .splide__slide{
    padding-top: 50px;
    img{
      width: 300px;
      height: 100px;
      object-fit: contain;
    }
  }
  .splide__arrows,.splide__pagination {
    display: none;
  }
}

@media (max-width:767px) {
  .our-clients{
    padding: 45px 0;
    .splide__slide{
      padding-top: 0px;
      img{
        width: 100%;
      }
    }
  }
}
/* end of our-client  */
/* start of partners  */
.partners{
  .images{
    img{
      width: 300px;
      height: 300px;
      flex: 1;
    }
  }
}
@media (max-width:767px) {
  .partners{
    .images{
      img{
        width: 100%;
        height: 175px;
      }
    }
  }
}
/* end of partners  */
/* start of footer  */
footer{
  padding: 20px 0;
  background-color: #F3F3F3;
  .about-company , .service , .contact{
    h3{
      color: #005D6E;
      margin-bottom: 20px;
      font-size: 23px;
      font-weight: 600;
    }
  }
  .about-company{
    p{
      color: #005D6E;
      font-size: 18px;
      line-height: 1.8;
    }
  }
  .service{
    .links{
      a{
        color: #34A87C;
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
        transition: 0.3s all ease-in-out;
        &:hover{
          color: #E76817;
        }
      }
    }
  }
  .contact-info{
    color: #005D6E;
    div , a{
      margin-bottom: 15px;
      font-size: 20px;
      display: block;
      color: #005D6E;
      i{
        color: #34A87C;
      }
    }
  }
}
.footer-language-select {
  position: fixed;
  bottom: 0;
  left: 8%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}
.footer-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.footer-dropdown img {
  width: 20px;
  height: 15px;
  margin-right: 10px;
}
.footer-options {
  position: absolute;
  bottom: 43px;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: none;
  .option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    img{
      width: 20px;
      height: 15px;
    }
  }
}

.footer-language-select:hover .footer-options {
  display: block;
}

@media (max-width:767px) {
  .footer-language-select {
    left: 25% !important;
    width: 100px;
  }
}
@media (max-width:991px) {
  .footer-language-select {
    left: 15%;
    width: 150px;
  }
}
/* end of footer  */


/* Start About Page */

/* Start Of company-history */
.company-history{
  overflow: hidden;
  .content{
    margin-top: 50px;
    h1{
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 30px;
      color: #005D6E;
    }
    p{
      font-size: 20px;
    }
  }
}

@media (max-width:767px) {
  .company-history{
    padding-bottom: 30px;
    .content{
      h1{
        font-size: 32px;
        margin-bottom: 15px;
      }
      p{
        font-size: 15px;
      }
    }
  }
}
@media (max-width:991px) {
  .company-history{
    padding-bottom: 30px;
    .content{
      h1{
        font-size: 32px;
        margin-bottom: 15px;
      }
      p{
        font-size: 18px;
      }
    }
  }
}
/* End Of company-history */


/* Start Of ceo-message */
.ceo-message{
  padding: 80px 0 40px 0px;
  overflow: hidden;
  .info{
    padding: 10px 0;
    h5{
      color: #005D6E;
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p{
      font-size: 21.7px;
      font-weight: 500;
      margin-bottom: 25px;
      text-align: justify;
    }
  }
  .image{
    height: 819px;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
}

@media (max-width:767px) {
  .ceo-message{
    padding: 0;
    .info{
      padding-top: 30px;
      h5{
        font-size: 30px;
        text-align: center;
      }
      p{
        font-size: 20px;
        text-align: left;
      }
    }
    .image{
      height: 350px !important;
      margin-bottom: 10px;
      img{
        height: 100%;
      }
    }
  }
}
@media (max-width:991px) {
  .ceo-message{
    .info{
      padding-top: 30px;
      h5{
        font-size: 35px;
        text-align: center;
      }
      p{
        font-size: 20px;
        text-align: left;
      }
    }
    .image{
      height: 400px;
      margin-bottom: 10px;
      img{
        height: 100%;
      }
    }
  }
}
/* End Of ceo-message */
/* Start Of Saudi-flag  */
.Saudi-flag{
  overflow: hidden;
  height: 190px;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000081;
    width: 100%;
    height: 100%;
  }
}
/* End Of Saudi-flag  */
/* End About Page */


/* Start RESPONSIBILITIES Page */
/* Start Of name-page */
.name-page{
  overflow:hidden;
  .image{
    img{
      height: 245px;
    }
  }
  .content{
    background-color: #F5F5F5;
    padding: 34px 0;
    .name{
      h3{
        color: #236138;
      }
    }
    .prev-home{
      display: flex;
      justify-content: end;
      gap: 5px;
      align-items: center;
      color: #236138;
      a{
        color: #236138;
        font-size: 13px;
      }
    }
  }
}

@media (max-width:767px) {
  .name-page{
    margin-bottom: 20px;
    .content{
      .prev-home{
        justify-content: start !important;
      }
    }
  }
}

@media (max-width:991px) {
  .name-page{
    .content{
      .prev-home{
        justify-content: end;
      }
    }
  }
}
/* End Of name-page */
.respon{
  overflow:hidden;
  .image{
    height: 245px;
    img{
      width: 100%;
    }
  }
  .links{
    a{
      display: block;
      margin-bottom: 10px;
      width: fit-content;
      padding: 10px;
      background-color: #000;
      color: #fff;
      font-size: 20px;
      transition: 0.3s all ease-in-out;
      &:hover{
        background-color: #E76817;
      }
    }
  }
}

@media (max-width:767px) {
  .respon{
    .image{
      height: 245px;
      img{
        width: 100%;
      }
    }
    .links{
      margin-top: 15px;
      a{
        font-size: 18px;
      }
    }
  }
}

@media (max-width:991px) {
  .respon{
    .image{
      height: 245px;
      img{
        width: 100%;
      }
    }
    .links{
      margin-top: 15px;
    }
  }
}
/* End RESPONSIBILITIES Page */


/* Start environmental-policy Page */

  .environmental-policy{
    padding: 40px 0px 20px 0;
    overflow: hidden;
    .info{
      padding: 10px 0;
      h5{
        color: #005D6E;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p{
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 25px;
        text-align: justify;
      }
    }
    .image{
      height: 410px;
      img{
        object-fit: cover;
        height: 100%;
      }
    }
  }

  @media (max-width:767px) {
    .environmental-policy{
      padding: 0;
      .info{
        h5{
          font-size: 40px;
        }
        p{
          font-size: 20px;
          text-align: left;
        }
      }
      .image{
        height: 200px !important;
        margin-bottom: 10px;
        img{
          height: 100%;
        }
      }
    }
  }
  @media (max-width:991px) {
    .environmental-policy{
      .image{
        height: 400px;
        margin-bottom: 10px;
        img{
          height: 100%;
        }
      }
    }
  }
/* End environmental-policy Page */

.text{
  p{
    text-align: justify;
    font-size: 18px;
  }
}

/* Start occupational-health  Page */


/* start of occupational-health */

.occupational-health{
  padding: 40px 0px 20px 0;
  overflow: hidden;
  .info{
    p{
      margin-bottom: 60px;
      display: flex;
      align-items: start;
      gap: 10px;
      font-size: 20px;
      justify-content: center;
      text-align: justify;
      span{
        font-size: 50px;
        position: relative;
        top: -8px;
      }
    }
  }
  .image{
    height: 847px;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
}

@media (max-width:767px) {
  .occupational-health{
    padding: 0;
    .info{
      h5{
        font-size: 40px;
      }
      p{
        font-size: 20px;
        text-align: right;
      }
    }
    .image{
      height: 450px !important;
      margin-bottom: 10px;
      img{
        height: 100%;
      }
    }
  }
}
@media (max-width:991px) {
  .occupational-health{
    .image{
      height: auto;
      margin-bottom: 10px;
      img{
        height: 100%;
      }
    }
  }
}
/* end of occupational-health */
/* start img-slider  */
.imgs-slider{
  padding: 50px 0;
  max-width: 700px;
  width: 100%;
  margin: auto;
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper{
    align-items: baseline;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide-active{
    height: 400px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .thumbsSlider .swiper-slide{
    width: 127px;
    height: 127px;
  }
}
@media (max-width:767px) {
  .thumbsSlider .swiper-slide{
    width: 110px !important;
    height: 110px !important;
  }
}
/* end img-slider  */

/* End occupational-health  Page */


/* Start quality-policy Page */
/* start of  quality-policy */

.quality-policy{
  padding: 40px 0px 20px 0;
  overflow: hidden;
  .info{
    p{
      margin-bottom: 30px;
      font-size: 20px;
      text-align: justify;
    }
  }
  .image{
    height: 847px;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
}

@media (max-width:767px) {
  .quality-policy{
    padding: 0;
    .info{
      h5{
        font-size: 40px;
      }
      p{
        font-size: 20px;
        text-align: right;
      }
    }
    .image{
      height: 450px !important;
      margin-bottom: 10px;
      img{
        height: 100%;
      }
    }
  }
}
@media (max-width:991px) {
  .quality-policy{
    .image{
      height: auto;
      margin-bottom: 10px;
      img{
        height: 100%;
      }
    }
  }
}
/* end of  quality-policy */

/* start quality-slider */
.quality-slider{
  padding: 20px 0;
  .content{
    padding: 10px 10px 30px 10px;
    border: 2px solid#000;
    .splide__list{
      gap: 10px;
    }
    .splide__slide{
      img{
        height: 350px;
        object-fit: cover;
      }
    }
    .splide__pagination{
      bottom: -1.4em;
      /* background-color: red; */
    }
    .splide__pagination__page.is-active{
      background-color: #000;
    }
  }
}

@media (max-width:991px) {
  .quality-slider{
    .content{
      .splide__slide{
        img{
          height: 250px;
          object-fit: cover;
        }
      }
    }
  }
}
/* end quality-slider */
/* Start quality-policy Page */


/* Start Services Page */

/* Start Of our-services */
.our-services{
  padding: 40px 0;
  .projects , .construction , .operation{
    h3{
      color: #005D6E;
      margin-bottom: 20px;
    }
    ul{
      li{
        position: relative;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
        &::before{
          content: '';
          position: absolute;
          height: 12px;
          width: 12px;
          left: 0;
          background-color: #000;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width:991px) {
  .our-services{
    padding: 40px 0;
    .con{
      position: relative;
      order: 3;
    }
    .projects , .construction , .operation{
      h3{
        color: #005D6E;
        margin-bottom: 20px;
        font-size: 20px;
      }
      ul{
        li{
          font-size: 18px;
        }
      }
    }
  }
}
/* end Of our-services */


.video-service{
  height: 600px;
  z-index: -1;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000081;
    width: 100%;
    height: 100%;
  }
  .info{
    top: 37%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
    left: 50%;
    h1 , p{
      color: #fff;
    }
    h1{
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
    }
    p{
      font-size: 19px;
      line-height: 1.7;
      text-align: justify;
    }
  }
}
@media (max-width:767px) {
  .video-service{
    height: 1300px !important;
    video{
      height: 100%;
      object-fit: cover;
    }
    .info{
      left: 0;
      z-index: 5;
      top: 50%;
      padding: 0px;
      transform: translateY(-50%);
      h1 , p{
        color: #fff;
      }
      h1{
        font-size: 35px;
        text-align: center;
      }
      p{
        font-size: 18px !important;
        text-align: left;
        padding: 0 15px
      }
    }
  }
}

@media (max-width:991px) {
  .video-service{
    height: 1100px;
    video{
      height: 100%;
      object-fit: cover;
    }
    .info{
      z-index: 5;
      left: 0;
      top: 50%;
      padding: 0px;
      transform: translateY(-50%);
      h1 , p{
        color: #fff;
      }
      h1{
        font-size: 40px;
        text-align: center;
      }
      p{
        font-size: 23.8px;
        text-align: left;
        padding: 0 15px
      }
    }
  }
}

/* end Services Page */

/* start clients Page */
/* start clients  */
.clients{
  overflow: hidden;
  .images{
    gap: 10.3px;
    img{
      width: 256px;
      height: 175px;
      flex: 0 0 19.4%;
    }
  }
}

@media (max-width:767px) {
  .clients{
    .images{
      img{
        flex: 0 0 100% !important;
      }
    }
  }
}

@media (max-width:991px) {
  .clients{
    .images{
      img{
        flex: 0 0 49.2%;
      }
    }
  }
}
/* end clients  */
/* end clients Page */

/* start jobs page */
/* start of job */
.job{
  overflow: hidden;
  padding: 50px 0;
  .content{
    padding: 10px;
    border: 2px solid #000;
    .image{
      height: 357px;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
    .info{
      padding: 50px 0;
      h3{
        font-size: 25px;
        font-weight: 600;
        color: #236138;
        margin-bottom: 25px;
      }
      p{
        text-align: justify;
        font-size: 18px;
        margin-bottom: 25px;
        color: #333333;
        line-height: 1.7;
        a{
          color: #236138;
          transition: 0.3s all ease-in-out;
          font-weight: 600;
          &:hover{
            color: #E76817;
          }
        }
      }
    }
  }
}

@media (max-width:767px) {
  .job{
    .content{
      .image{
        height: 250px !important;
      }
      .info{
        h3{
          font-size: 18px !important;
        }
        p{
          text-align: left;
        }
      }
    }
  }
}

@media (max-width:991px) {
  .job{
    .content{
      .image{
        height: 400px;
      }
      .info{
        h3{
          font-size: 30px;
        }
        p{
          text-align: left;
        }
      }
    }
  }
}
/* end of job */
/* end jobs page */

/* start contact page */
/* start video-contact */
.video-contact{
  /* overflow: hidden; */
  height: 600px;
  z-index: -1;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000081;
    width: 100%;
    height: 100%;
  }
  .info{
    top: 40%;
    transform: translate(-50%, -50%);
    max-width: 527px;
    width: 100%;
    left: 22%;
    h1 , p{
      color: #fff;
    }
    h1{
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 25px;
    }
    p{
      font-size: 20px;
    }
  }
}

@media (max-width:767px) {
  .video-contact{
    video{
      height: 100%;
      object-fit: cover;
    }
    .info{
      left: 0;
      z-index: 5;
      top: 35%;
      padding: 0px;
      transform: translateY(-50%);
      h1 , p{
        color: #fff;
      }
      h1{
        font-size: 35px;
        padding: 0px 15px
      }
      p{
        font-size: 23.8px;
        text-align: left;
        padding: 0 15px;
        line-height: 1.6;
      }
    }
  }
}

@media (max-width:991px) {
  .video-contact{
    /* height: 400px; */
    video{
      height: 100%;
      object-fit: cover;
    }
    .info{
      z-index: 5;
      left: 3%;
      top: 35%;
      padding: 0px;
      transform: translateY(-50%);
      h1 , p{
        color: #fff;
      }
      h1{
        font-size: 35px;
        padding: 0px 15px
      }
      p{
        font-size: 23.8px;
        text-align: left;
        padding: 0px 15px;
        line-height: 1.6;
      }
    }
  }
}
/* end video-contact */

.contact-information{
  .contact{
    margin-top: -130px;
    background-color: #fff;
    .email , .phone , .location{
      text-align: center;
      padding: 50px;
      i{
        margin: auto;
        margin-bottom: 25px;
        width: 50px;
        height: 50px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: #fff;
        background-color: #005D6E;
      }
      h3{
        color: #005D6E;
      }
      a{
        color: #000;
        font-size: 17px;
      }
    }
  }
  .form{
    position: relative;
    z-index: 50;
    .map{
      height: 302px;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0rem;
      }
      &::-webkit-scrollbar-track {
        background: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #2597f4;
      }
      iframe{
        width: 100%;
      }
    }
    form{
      input , textarea{
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        outline: none;
      }
      input{
        height: 50px;
      }
      textarea{
        height: 100px;
        resize: none;
      }
    }
  }
}

@media (max-width:767px) {
  .contact-information{
    .contact{
      margin-top: -110px !important;
    }
    .form{
      .map{
        margin-top: 15px;
      }
      form{
        margin-top: 20px;
        margin-left: 0 !important; 
        input{
          height: 56px !important;
        }
        textarea{
          height: 105px;
        }
      }
    }
  }
}

@media (max-width:991px) {
  .contact-information{
    .contact{
      margin-top: -180px;
    }
    .form{
      .map{
        margin-top: 15px;
        height: 315px;
      }
      form{
        margin-top: 20px;
        margin-left: 10px;
        input{
          height: 54px;
        }
      }
    }
  }
}
/* end contact page */

/* end contact page */


.vision-mission{
  padding: 50px 0;
  position: relative;
  z-index: 20;
  .content{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    box-shadow: 0 0 10px #ddd;
    .vision , .mission{
      img{
        height: 367px;
        object-fit: cover;
      }
    }
    .vision-info , .mission-info{
      padding: 106px 50px;
      text-align: center;
    }
  }
  .miss{
    padding-left: 0;
  }
  .visi{
    padding-right: 0;
  }
}

@media (max-width:767px) {
  .vision-mission{
    .content{
      .vision , .mission{
        img{
          height: 234px;
        }
      }
    }
    .miss{
      padding-left: 12px !important;
    }
    .visi{
      padding-right: 12px !important;
    }
  }
}

@media (max-width:991px) {
  .vision-mission{
    .miss{
      padding-left: 12px !important;
    }
    .visi{
      padding-right: 12px !important;
    }
  }
}
/* start vision-slider */
.vision-slider{
  padding: 20px 0;
  .content{
    padding: 10px 10px 30px 10px;
    border: 2px solid#000;
    .splide__list{
      gap: 10px;
    }
    .splide__slide{
      img{
        height: 200px;
        object-fit: cover;
      }
    }
    .splide__pagination{
      bottom: -1.4em;
      display: flex;
    }
    .splide__pagination__page.is-active{
      background-color: #000;
    }
  }
}


@media (max-width:767px) {
  .vision-slider{
    .content{
      .splide__slide{
        img{
          height: 150px;
        }
      }
    }
  }
}

@media (max-width:991px) {
  .vision-slider{
    .content{
      .splide__slide{
        img{
          height: 150px;
        }
      }
    }
  }
}
/* end vision-slider */




/* start company-profile  */
.company-prof{
  padding: 40px 0;
  position: relative;
  z-index: 55;
  .content{
    .right , .left{
      img{
        height: 478px;
        object-fit: cover;
      }
      p{
        margin-top: 15px;
        font-size: 20px;
        a{
          color: #005D6E;
        }
      }
    }
  }
}

@media (max-width:767px) {
  .company-prof{
    padding: 20px 0;
    .content{
      .right , .left{
        img{
          height: 238px;
        }
        p{
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width:991px) {
  .company-prof{
    .content{
      .right , .left{
        img{
          height: 238px;
        }
        p{
          font-size: 18px;
        }
      }
    }
  }
}
/* end company-profile  */
/* start values-policy-text  */
.values-policy-text{
  .content{
    strong{
      font-size: 20px;
    }
    p{
      margin-top: 5px;
      font-size: 22px;
    }
  }
}
@media (max-width:767px) {
  .values-policy-text{
    .content{
      p{
        font-size: 20px;
      }
    }
  }
}
/* end values-policy-text  */
.values-policy{
  img{
    height: 332px;
    object-fit: cover;
  }
  .first , .second , .third{
    h5 , p{
      margin-bottom: 25px;
    }
    h5{
      font-weight: 600;
    }
    p{
      font-size: 18px;
    }
  }
}

@media (max-width:767px) {
  .values-policy{
    img{
      height: 264px;
    }
    .first , .second , .third{
      h5 , p{
        margin-bottom: 25px;
      }
      h5{
        font-weight: 600;
      }
      p{
        font-size: 18px;
      }
    }
  }
}